<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Consultation et impression des demandes de stage</h4>
      <p class="mt-4">
        Si vous souhaitez ajouter une demande de stage, cliquez sur le bouton ci-dessous.
      </p>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" routerLink="/etudiant/adddepot">
          Ajouter une demande de stage
        </button>
      </div>
      <br>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>

              <th>CIN</th>
              <th>Nom Prenom</th>
              <th>Inscription</th>
              <th>Diplôme</th>
              <th>Spécialité</th>
              <th>Année</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let depot of depots; let i = index">
              <td class="py-1">{{ depot.id }}</td>

              <td class="py-1">{{ depot.cin }}</td>
              <td>{{ depot.nomprenom }}</td>
              <td>{{ depot.inscri }}</td>
              <td>{{ depot.diplome }}</td>
              <td>{{ depot.spec }}</td>
              <td>{{ depot.annee }}</td>
              <td>
                <button class="btn btn-primary btn-sm" (click)="printDepot(i)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                    <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                    <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
                  </svg>
                </button>
                <button class="btn btn-info btn-sm"  [routerLink]="['/etudiant/depot', depot.id]" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M11.293 3.293a1 1 0 0 1 1.414 0l.793.793a1 1 0 0 1 0 1.414l-7 7a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l7-7zM12 4l1-1a1 1 0 0 1 1.41 1.41L13.41 5 12 3.59 13.59 2 15 3.41a1 1 0 0 1 0 1.42l-1 1a1 1 0 0 1-1.41 0L12 4z"/>
                    <path fill-rule="evenodd" d="M5.5 1a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1.5a.5.5 0 0 1 .5-.5zM14 5a1 1 0 0 0-1-1H1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
                  </svg>
                </button>
              
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
