<div class="main-panel">        
    <div class="content-wrapper">
      <div class="row justify-content-center">
        <div class="col-md-7 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Modifier un étudiant en stage obligatoire</h4>
              <p class="card-description">
                Formulaire de mise à jour
              </p>
              <form (submit)="onSubmit()">
               
                <div class="form-group">
                  <label for="cin">CIN</label>
                  <input type="text" class="form-control" id="cin" [(ngModel)]="depot.cin" name="cin" placeholder="CIN" disabled>
                </div>
             
                <div class="form-group">
                  <label for="nom">Nom et Prenom</label>
                  <input type="text" class="form-control" id="nom" [(ngModel)]="depot.nomprenom" name="nom" placeholder="Nom">
                </div>
                <div class="form-group">
                  <label for="inscri">Inscription</label>
                  <input type="text" class="form-control" id="inscri" [(ngModel)]="depot.inscri" name="inscri" placeholder="Inscription">
                </div>
                <div class="form-group">
                  <label for="diplome">Diplôme</label>
                  <input type="text" class="form-control" id="diplome" [(ngModel)]="depot.diplome" name="diplome" placeholder="Diplôme">
                </div>
                <div class="form-group">
                  <label for="spec">Spécialité</label>
                  <input type="text" class="form-control" id="spec" [(ngModel)]="depot.spec" name="spec" placeholder="Spécialité">
                </div>
                <div class="form-group">
                  <label for="annee">Année</label>
                  <input type="text" class="form-control" id="annee" [(ngModel)]="depot.annee" name="annee" placeholder="Année">
                </div>
                <div class="form-check form-check-flat form-check-primary">
                  <input type="checkbox" class="form-check-input" id="rememberMe">
                  <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
                </div>
                <br>
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary mr-2" >Mettre à jour</button>
                  <button type="button" class="btn btn-light" (click)="resetForm()">Annuler</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  